*.env
/mlb/
/v4_and_v5/
cron_log.txt
task_scheduler.log
task_scheduler
node_modules/
.xata
cron_log.log
cron_log
task_scheduler.log
NBA/players/*
NBA/teams/*
NBA/logs/*
NBA/model/*
NBA/*.parquet
NBA/*.csv
NBA/*.log
NBA/.venv
NBA/nba_task_scheduler.log
venvs
