# Database and ORM
sqlite-utils
sqlalchemy
libsql-client
psycopg

# API Requests and Data Handling
requests
pandas
pybaseball
MLB-StatsAPI
datetime
selenium
webdriver-manager
html5lib
cloudscraper
curl_cffi

# Environment Variables
python-dotenv

# Jupyter Notebook
jupyter

# Model
scikit-learn
xgboost
joblib
